---
import {Image} from "astro:assets";
import LogoImage from "./Images/logo.jpg";
import LogoDarkImage from "./Images/logo-dark.jpg";
const posts = await Astro.glob('../../data/announcements/*.md');

const getPostDate = (date: string): string => {
  const timeAgo =
    new Date().getTime() - new Date(date).getTime();
  let timeAgoString = '';
  if (timeAgo < 1000 * 60) {
    timeAgoString = 'just now';
  } else if (timeAgo < 1000 * 60 * 60) {
    timeAgoString = `${Math.floor(timeAgo / (1000 * 60))}m`;
  } else if (timeAgo < 1000 * 60 * 60 * 24) {
    timeAgoString = `${Math.floor(timeAgo / (1000 * 60 * 60))}h`;
  } else if (timeAgo < 1000 * 60 * 60 * 24 * 30) {
    timeAgoString = `${Math.floor(timeAgo / (1000 * 60 * 60 * 24))}d`;
  } else {
    timeAgoString = new Date(date).toLocaleDateString('en-US', {
      month: 'short',
      day: 'numeric',
    });
  }

  return timeAgoString;
}

const getIsNew = (date: string): boolean => new Date(date).getTime() > Date.now() - 1000 * 60 * 60 * 72;
---

<div class="page-container">
  <div class="news-wrap">
    {posts
      .filter((post) => new Date(post.frontmatter.date).getTime() < Date.now())
      .sort((a, b) => {
        return b.frontmatter.date.localeCompare(a.frontmatter.date);
      })
      .map((post) => (
        <article class="post-container">
          <div class="post-head">
            <a href="https://twitter.com/DrizzleORM" target="_blank">
              <Image src={LogoImage} alt="logo" class="img_light avatar" />
              <Image src={LogoDarkImage} alt="dark logo" class="img_dark avatar" />
              Drizzle
            </a>
            <span class="dot">•</span>
            <span class="date">{getPostDate(post.frontmatter.date)}</span>
            {getIsNew(post.frontmatter.date) && (
              <div class="new-tag">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20.2345 6H3.75665C2.77681 6 2 6.78564 2 7.76548L2.00005 16.5929C2.00005 17.5727 2.77686 18.3584 3.7567 18.3584H20.2345C21.2143 18.3584 22 17.5727 22 16.5929L21.9999 7.76548C21.9999 6.78564 21.2143 6 20.2345 6ZM9.07963 14.13C9.07963 14.5096 8.76185 14.8274 8.38227 14.8274C8.16158 14.8274 7.94973 14.7215 7.81732 14.5361L5.76936 11.7378V14.2801C5.76936 14.5891 5.52219 14.8274 5.22206 14.8274C4.92193 14.8274 4.66594 14.5802 4.66594 14.2801V10.2283C4.66594 9.84874 4.98372 9.53096 5.3633 9.53096H5.40744C5.63695 9.53096 5.84881 9.63689 5.98122 9.82226L7.97621 12.6205V10.0783C7.97621 9.77813 8.22338 9.53096 8.53233 9.53096C8.84129 9.53096 9.07963 9.77813 9.07963 10.0783V14.13ZM13.4933 10.0959C13.4933 10.4049 13.2462 10.6432 12.946 10.6432H11.2865V11.6319H12.946C13.255 11.6319 13.4933 11.879 13.4933 12.1792V12.188C13.4933 12.497 13.2462 12.7353 12.946 12.7353H11.2865V13.7151H12.946C13.255 13.7151 13.4933 13.9623 13.4933 14.2624C13.4933 14.5714 13.2462 14.8097 12.946 14.8097H10.7127C10.5137 14.8097 10.3229 14.7307 10.1821 14.59C10.0414 14.4493 9.96237 14.2584 9.96237 14.0594V10.2636C9.96237 9.8664 10.2978 9.53096 10.7127 9.53096H12.946C13.255 9.53096 13.4933 9.77813 13.4933 10.0783V10.0959ZM19.646 13.9447C19.646 14.4302 19.2753 14.8274 18.7898 14.8274H15.2588C14.7733 14.8274 14.3761 14.4302 14.3761 13.9447V10.0783C14.3761 9.77813 14.6232 9.53096 14.9234 9.53096C15.2235 9.53096 15.4707 9.77813 15.4707 10.0783V13.5121H16.4682V10.9522C16.4682 10.6432 16.7153 10.4049 17.0155 10.4049C17.3156 10.4049 17.5628 10.652 17.5628 10.9522V13.5033H18.5514V10.0783C18.5514 9.7693 18.7986 9.53096 19.0987 9.53096C19.3989 9.53096 19.646 9.77813 19.646 10.0783V13.9447Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            )}
          </div>
          <div set:html={post.compiledContent()} />
        </article>
      ))}
  </div>
  <div class="products-container">
    <h5>Our products</h5>
    <a href="https://driz.link/extension" target="_blank" class="product-card">
      <div class="product-card-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-chrome"
        >
          <circle cx="12" cy="12" r="10"/>
          <circle cx="12" cy="12" r="4"/>
          <line x1="21.17" x2="12" y1="8" y2="8"/>
          <line x1="3.95" x2="8.54" y1="6.06" y2="14"/>
          <line x1="10.88" x2="15.46" y1="21.94" y2="14"/>
        </svg>
      </div>
      <div>
        <div class="product-card-title">Drizzle Studio Extension</div>
        <div class="product-card-description">Chrome extension for Cloudflare D1, PlanetScale and Vercel Postgres database browsing</div>
      </div>
    </a>
    <a href="https://sqlite.drizzle.studio" target="_blank" class="product-card">
      <div class="product-card-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24" height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-database">
          <ellipse cx="12" cy="5" rx="9" ry="3"/>
          <path d="M3 5V19A9 3 0 0 0 21 19V5"/>
          <path d="M3 12A9 3 0 0 0 21 12"/>
        </svg>
      </div>
      <div>
        <div class="product-card-title">Browse SQLite files directly in browser</div>
        <div class="product-card-description">Chrome Extension for PlanetScale and Vercel Postgres database browsing</div>
      </div>
    </a>
  </div>
</div>

<script is:inline data-astro-rerun>
  localStorage.setItem('drizzle-last-seen-announcement', Date.now().toString());
</script>

<style is:global>
    .post-container h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .post-container h2 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .post-container h3 {
        font-size: 1.125rem;
        font-weight: 600;
    }

    .post-container h4 {
        font-size: 1rem;
        font-weight: 600;
    }

    .post-container h5 {
        font-size: 0.875rem;
        font-weight: 600;
    }

    .post-container h6 {
        font-size: 0.75rem;
        font-weight: 600;
    }

    .post-container strong {
        font-weight: 600;
    }

    .post-container em {
        font-style: italic;
    }

    .post-container a {
        color: #2563eb;
        text-decoration: underline;
    }

    html.dark .post-container a {
        color: #60a5fa;
    }

    .post-container .astro-code {
        font-size: 0.875rem;
        padding: 14px;
        border-radius: 0.25rem;
        background: #f4f7fc !important;
        margin: 8px 0;
    }

    html.dark .astro-code {
        background: #202830 !important;
    }

    .post-container blockquote {
        border-left: 4px solid #9ca3af;
        padding: 0.5rem;
    }

    .post-container ul {
        list-style-type: disc;
        padding-left: 1rem;
    }

    .post-container li {
        font-size: 1rem;
    }

    .post-container img {
        margin-top: 0.75rem;
        border-radius: 16px;
    }

    .landing-wrap {
        background: #f8f8f8;
    }

    html.dark .landing-wrap {
        background: #1c1c1c;
    }
</style>

<style>
  .page-container {
      margin: 36px auto;
      display: flex;
      align-items: flex-start;
      gap: 24px;
      justify-content: center;
  }

  html.dark .page-container {
      color: rgb(226, 232, 240);
  }

  .products-container {
      max-width: 360px;
      width: 100%;
      position: sticky;
      top: 36px
  }

  .products-container h5 {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 4px;
  }

  .product-card {
      padding: 16px;
      display: flex;
      align-items: flex-start;
      border: 1px solid rgba(33, 39, 46, .12);
      border-radius: 6px;
      background: white;
      margin-bottom: 8px;
      transition: border-color 0.3s, background-color 0.2s;
      cursor: pointer;
  }

  .product-card:hover {
      border-color: #b8bfc8;
  }

  html.dark .product-card:hover {
      border-color: #686868;
      background: #ffffff0d;
  }

  html.dark .product-card {
      border: 1px solid #404040;
      background: #121212;
  }

  .product-card-title {
      font-size: 16px;
      font-weight: 700;
  }

  .product-card-icon {
      margin: 4px 12px 0 0;
  }

  .product-card-icon svg {
      width: 20px;
      height: 20px;
  }

  .product-card-description {
      font-size: 16px;
  }

  .news-wrap {
      display: flex;
      flex-direction: column;
      gap: 16px;
  }

  .post-container {
      max-width: 650px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid rgba(33, 39, 46, .12);
      border-radius: 16px;
      padding: 20px;
      background: white;
  }

  html.dark .post-container {
      border: 1px solid #404040;
      background: #121212;
  }

  .img_light {
      display: block;
  }

  .img_dark {
      display: none;
  }

  html.dark .img_dark {
      display: block;
  }

  html.dark .img_light {
      display: none;
  }

  .post-head {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
  }

  .post-head a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: unset;
      font-weight: 700;
  }

  .avatar {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      object-fit: cover;
      object-position: center;
      margin: 0 8px 0 0;
  }

  .dot {
      margin: 0 4px;
  }

  .date {
      font-weight: 500;
      color: #7f8ea3;
  }

  .new-tag {
      margin-left: auto;
  }

  .new-tag svg {
      width: 36px;
      height: 36px;
  }

  @media (max-width: 860px) {
      .products-container {
          display: none;
      }
  }
</style>