---
import type { CSSProperties } from "react";
import s from "@/data/asideS";

const getStyleString = (style: CSSProperties) => {
  return Object.keys(style).reduce((acc, key) => {
    return acc + `${key}: ${style[key as keyof CSSProperties]};`;
  }, "");
};

const heroSponsors = s.filter(({tier}) => tier.name === '$2500 a month');

const goldSponsors = s.filter(({tier}) => tier.name === '$1000 a month');

const slicedSponsors = [];

for (let i = 0; i < goldSponsors.length - 1; i += 2) {
  let items = goldSponsors.slice(i, i + 2);
  slicedSponsors.push(items);
}
---

<div class="aside-sponsors__wrap">
  {
    heroSponsors.map((sponsor) => (
      <div class="aside-sponsors__row">
        <a
          class:list={["aside-sponsors__sponsor", "aside-sponsors__hero-sponsor" ]}
          href={`https://${sponsor.sponsorEntity.login}`}
          target="_blank"
          rel={sponsor.followLink ? "" : "nofollow"}
        >
          <div
            class="aside-sponsors__sponsor-image"
            id="aside-sponsors-img-wrapper"
          >
            <img
              class="aside-sponsors__light-img"
              loading="lazy"
              src={
                "data:image/svg+xml;base64," +
                btoa(sponsor.sponsorEntity.avatarUrl)
              }
              style={getStyleString(sponsor.lightStyle || {})}
            />
            <img
              class="aside-sponsors__dark-img"
              loading="lazy"
              src={
                "data:image/svg+xml;base64," +
                btoa(sponsor.sponsorEntity.avatarUrl)
              }
              alt={sponsor.sponsorEntity.name || sponsor.sponsorEntity.login}
              style={getStyleString(sponsor.darkStyle || {})}
            />
          </div>
          {!!sponsor.popover && (
            <div class="popover">
              {sponsor.popover}
            </div>
          )}
        </a>
      </div>
    ))
  }
  {
    slicedSponsors.map((slice) => (
      <div class="aside-sponsors__row">
        {slice.map((sponsor) => (
          <a
            class="aside-sponsors__sponsor"
            href={`https://${sponsor.sponsorEntity.login}`}
            target="_blank"
            rel={sponsor.followLink ? "" : "nofollow"}
          >
            <div
              class="aside-sponsors__sponsor-image"
              id="aside-sponsors-img-wrapper"
            >
              <img
                class="aside-sponsors__light-img"
                loading="lazy"
                src={
                  "data:image/svg+xml;base64," +
                  btoa(sponsor.sponsorEntity.avatarUrl)
                }
                style={getStyleString(sponsor.lightStyle || {})}
              />
              <img
                class="aside-sponsors__dark-img"
                loading="lazy"
                src={
                  "data:image/svg+xml;base64," +
                  btoa(sponsor.sponsorEntity.avatarUrl)
                }
                alt={sponsor.sponsorEntity.name || sponsor.sponsorEntity.login}
                style={getStyleString(sponsor.darkStyle || {})}
              />
            </div>
            {!!sponsor.popover && (
              <div class="popover">
                {sponsor.popover}
              </div>
            )}
          </a>
        ))}
      </div>
    ))
  }
</div>
<a
  href="https://driz.link/gold"
  target="_blank"
  rel="nofollow noreferrer"
  class="aside-sponsors__become-btn"
>
  <div class="aside-sponsors__become-btn__text">Become a Gold Sponsor</div>
  <div class="aside-sponsors__become-btn__svg">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-arrow-right"
      data-astro-cid-iirlvvjs=""
      data-astro-source-file="/Users/vladstogniy/WebstormProjects/orm-drizzle-docs-astro/src/components/layout/AsidePosts.astro"
      data-astro-source-loc="31:9"
    >
      <line
        x1="5"
        y1="12"
        x2="19"
        y2="12"
        data-astro-cid-iirlvvjs=""
        data-astro-source-file="/Users/vladstogniy/WebstormProjects/orm-drizzle-docs-astro/src/components/layout/AsidePosts.astro"
        data-astro-source-loc="31:9"
      >
      </line>
      <polyline
        points="12 5 19 12 12 19"
        data-astro-cid-iirlvvjs=""
        data-astro-source-file="/Users/vladstogniy/WebstormProjects/orm-drizzle-docs-astro/src/components/layout/AsidePosts.astro"
        data-astro-source-loc="31:53"
      >
      </polyline>
    </svg>
  </div>
</a>
<script lang="ts" type="module">
  import {computePosition, shift, offset} from 'https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.8/+esm';

  const computePopovers = () => {
    const cards = document.querySelectorAll('.aside-sponsors__sponsor');

    cards.forEach((card) => {
      const cardPopover = card.querySelector('.popover');

      if (!cardPopover)  return;

      computePosition(card, cardPopover, {
        placement: 'top',
        middleware: [shift({padding: 12}), offset(6)]
      }).then(({x, y}) => {
        Object.assign(cardPopover.style, {
          left: `${x}px`,
          top: `${y}px`,
        });
      });
    })
  }

  document.addEventListener("astro:page-load", () => {
    computePopovers();
    window.removeEventListener('resize', computePopovers, false)
    window.addEventListener('resize', computePopovers)
  })

    computePopovers();
</script>

<style>
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  html.dark .aside-sponsors__header {
    color: #a8a8a8;
  }

  .aside-sponsors__header {
    align-items: center;
    border-radius: 2px;
    display: flex;
    margin-right: auto;
    margin-bottom: 4px;
    font-size: 10px;
    gap: 4px;
    text-transform: uppercase;
    color: #555;
  }

  .aside-sponsors__header svg {
    fill: #fd7776;
    color: #fd7776;
    height: 10px;
    width: 10px;
  }

  html.dark .aside-sponsors__dark-img {
    display: block;
  }

  html.dark .aside-sponsors__light-img {
    display: none;
  }

  .aside-sponsors__dark-img {
    display: none;
  }

  .aside-sponsors__light-img {
    display: block;
  }

  .aside-sponsors__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    user-select: none;
    min-width: 210px;
  }

  .aside-sponsors__row {
    display: flex;
    gap: 4px;
  }

  .aside-sponsors__row:first-child > .aside-sponsors__sponsor:only-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .aside-sponsors__row:first-child > .aside-sponsors__sponsor:first-child {
    border-top-left-radius: 4px;
  }

  .aside-sponsors__row:first-child
    > .aside-sponsors__sponsor:first-child::before {
    border-top-left-radius: 5px;
  }

  .aside-sponsors__row:first-child > .aside-sponsors__sponsor:last-child {
    border-top-right-radius: 4px;
  }

  .aside-sponsors__row:first-child
    > .aside-sponsors__sponsor:last-child::before {
    border-top-right-radius: 5px;
  }

  .aside-sponsors__row:last-child > .aside-sponsors__sponsor:only-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .aside-sponsors__row:last-child > .aside-sponsors__sponsor:first-child {
    border-bottom-left-radius: 4px;
  }

  .aside-sponsors__row:last-child
    > .aside-sponsors__sponsor:first-child::before {
    border-bottom-left-radius: 5px;
  }

  .aside-sponsors__row:last-child > .aside-sponsors__sponsor:last-child {
    border-bottom-right-radius: 4px;
  }

  .aside-sponsors__row:last-child
    > .aside-sponsors__sponsor:last-child::before {
    border-bottom-right-radius: 5px;
  }

  .aside-sponsors__row > .aside-sponsors__sponsor {
    height: 72px;
  }

  .aside-sponsors__row > .aside-sponsors__sponsor:only-child {
  }

  .aside-sponsors__row
    > .aside-sponsors__sponsor:only-child
    > .aside-sponsors__sponsor-image {
    max-width: 124px;
  }

  html.dark .aside-sponsors__sponsor:hover {
    background-color: #282828;
  }

  html.dark .aside-sponsors__sponsor {
    background-color: #1c1c1c;
  }

  .aside-sponsors__sponsor:hover {
    background-color: #eff1f4;
  }

  .aside-sponsors__sponsor {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f6f6f7;
    justify-content: center;
    transition: background-color 0.2s;
  }

  html.dark .aside-sponsors__sponsor::before,
  html.dark .aside-sponsors__become-btn::before {
    background: repeating-conic-gradient(
      from var(--rotate),
      #f59e0b 0%,
      #311f02 14%,
      #311f02 36%,
      #f59e0b 50%
    );
  }

  .aside-sponsors__sponsor::before,
  .aside-sponsors__become-btn::before {
    content: "";
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: repeating-conic-gradient(
      from var(--rotate),
      #f59e0b 0%,
      #fce1b5 14%,
      #fce1b5 36%,
      #f59e0b 50%
    );
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    animation: spin 10s linear infinite;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .aside-sponsors__become-btn::before {
    border-radius: 5px;
  }

  .aside-sponsors__sponsor:hover::before,
  .aside-sponsors__become-btn:hover::before {
    opacity: 1;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

  .aside-sponsors__sponsor:hover
    .aside-sponsors__sponsor-image
    .aside-sponsors__light-img,
  .aside-sponsors__sponsor:hover
    .aside-sponsors__sponsor-image
    .aside-sponsors__dark-img {
    filter: none !important;
  }

  .aside-sponsors__hero-sponsor .aside-sponsors__sponsor-image {
      transition: filter 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      height: unset;
      width: unset;
  }

  .aside-sponsors__sponsor-image {
    transition: filter 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
  }

  .aside-sponsors__sponsor-image img {
    width: 100%;
    transition: filter 0.2s;
  }

  html.dark .aside-sponsors__become-btn {
    background-color: #1c1c1c;
  }

  html.dark .aside-sponsors__become-btn:hover {
    background-color: #282828;
    color: #fff;
  }

  .aside-sponsors__become-btn {
    font-size: 12px;
    margin-top: 4px;
    position: relative;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin-bottom: 12px;
    transition: all 0.2s ease-in-out;
    width: 100%;
    background-color: #f6f6f7;
    color: #909090;
  }

  .aside-sponsors__become-btn:hover {
    background-color: #eff0f3;
    color: #000;
  }

  .aside-sponsors__become-btn__svg {
    height: 16px;
    width: 16px;
    margin-left: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin-left 150ms ease-in-out, opacity 150ms ease-in-out;
    opacity: 0;
  }

  .aside-sponsors__become-btn:hover .aside-sponsors__become-btn__svg {
    margin-left: 4px;
    opacity: 1;
  }
  .aside-sponsors__become-btn__svg svg {
    width: 12px;
    height: 12px;
  }

  .aside-sponsors__sponsor {
      position: relative;
  }

  .popover {
      position: fixed;
      top: 0;
      right: 0;
      white-space: nowrap;
      opacity: 0;
      pointer-events: none;
      font-size: 14px;
      font-weight: 500;
      padding: 4px 12px;
      background: white;
      border-radius: 4px;
      z-index: 999;
      width: fit-content;
      box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(0, 0, 0, .08), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .075);
      transition: opacity 0.3s;
  }

  html.dark .aside-sponsors__sponsor .popover {
      background: #000;
      box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 1px hsla(0, 0%, 100%, .2), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .075);
  }

  .aside-sponsors__sponsor:hover .popover{
      opacity: 1;
  }
</style>
