---
import { Image } from "astro:assets";

type IContentCard =
  | {
      type: "youtube";
      id: string;
      imageUrl?: string;
      title: string;
      description: string;
    }
  | {
      type: "article";
      href: string;
      imageUrl?: string;
      title: string;
      description: string;
    };

interface Props {
  cards: IContentCard[];
}

const { cards } = Astro.props;

const getYoutubeImage = (card: IContentCard) => {
  if (card.type === "youtube") {
    if (card.imageUrl) {
      return card.imageUrl;
    }
    return `https://img.youtube.com/vi/${card.id}/maxresdefault.jpg`;
  }
  return "";
};

const getYoutubeLink = (id: string) => {
  return `https://www.youtube.com/watch?v=${id}`;
};
---

<div class="content-cards_wrap">
  {
    cards.map((card) => (
      <div class="content-card">
        <a
          class="content-card__link"
          target="_blank"
          rel="nofollow noreferrer"
          href={card.type === "youtube" ? getYoutubeLink(card.id) : card.href}
        >
          <div class="content-card__image">
            <Image
              src={card.imageUrl ? card.imageUrl : getYoutubeImage(card)}
              alt={card.title}
              width="280"
              height="156"
            />
            {card.type === "youtube" && (
              <div class="content-card__play-button">
                <svg
                  height="100%"
                  version="1.1"
                  viewBox="0 0 68 48"
                  width="100%"
                >
                  <path
                    class="ytp-large-play-button-bg"
                    d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
                    fill="#f00"
                  />
                  <path d="M 45,24 27,14 27,34" fill="#fff" />
                </svg>
              </div>
            )}
          </div>
          <div class="content-card__content">
            <div class="content-card__text">
              <div class="content-card__title"><Fragment set:html={card.title} /></div>
              <p class="content-card__description"><Fragment set:html={card.description} /></p>
            </div>
          </div>
        </a>
      </div>
    ))
  }
</div>
<style>
  html.dark .content-card {
    border: 1px solid #404040;
    background-color: #111111;
  }
  .content-cards_wrap {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
    max-width: 896px;
  }

  .content-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e5;
    min-height: 200px;
    border-radius: 8px;
    flex: 1 1 240px; /* or 1 0 100px, and no more need in min-width at all */
    max-width: 280px;
    min-width: 240px;
  }

  .content-card__link {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s;
    opacity: 1;
    border-radius: 7px;
  }

  .content-card__link:hover {
    box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.08),
      0 2px 4px rgba(0, 0, 0, 0.07);
    opacity: 0.8;
  }

  .content-card__content {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 4px;
  }

  .content-card__image {
    position: relative;
  }

  html.dark .content-card__image img {
    border-bottom: 1px solid #3a3f42;
  }

  .content-card__image img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #d7dbdf;
  }

  .content-card__play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
  }

  html.dark .content-card__title {
    color: #ecedee;
  }

  .content-card__title {
    margin-top: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    margin-bottom: 4px;
    color: rgb(17, 24, 28);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
  }

  html.dark .content-card__description {
    color: #9ba1a6;
  }

  .content-card__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgb(104, 112, 118);
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
  }
</style>
