---
import { Image } from "astro:assets";

interface IYoutubeCard {
  id: string;
  imageUrl?: string;
  title: string;
  description?: string;
}

interface Props {
  cards: IYoutubeCard[];
}

const { cards } = Astro.props;

const getYoutubeImage = (card: IYoutubeCard) => {
  if (card.imageUrl) {
    return card.imageUrl;
  }
  return `https://img.youtube.com/vi/${card.id}/maxresdefault.jpg`;
};

const getYoutubeLink = (id: string) => {
  return `https://www.youtube.com/watch?v=${id}`;
};
---

<div class="youtube-cards__scroll">
  <div class="youtube-cards__wrap">
    {
      cards.map((card) => (
        <div class="youtube-card">
          <a
            class="youtube-card__link"
            target="_blank"
            rel="nofollow noreferrer"
            href={getYoutubeLink(card.id)}
          >
            <div class="youtube-card__image">
              <div class="youtube-card__inner-border"></div>
              <Image
                src={card.imageUrl ? card.imageUrl : getYoutubeImage(card)}
                alt={card.title}
                width="560"
                height="314"
              />
              <div class="youtube-card__play-button">
                <svg
                  height="100%"
                  version="1.1"
                  viewBox="0 0 68 48"
                  width="100%"
                >
                  <path
                    class="ytp-large-play-button-bg"
                    d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
                    fill="#f00"
                  />
                  <path d="M 45,24 27,14 27,34" fill="#fff" />
                </svg>
              </div>
            </div>
            <div class="youtube-card__content">
              <div class="youtube-card__text">
                <div class="youtube-card__title">
                  <Fragment set:html={card.title} />
                </div>
                {card.description && (
                  <p class="youtube-card__description">
                    <Fragment set:html={card.description} />
                  </p>
                )}
              </div>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</div>

<style>
  .youtube-cards__scroll {
    margin-top: 32px;
  }

  html.dark .youtube-card {
    background-color: #111111;
  }

  .youtube-cards__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start;
    max-width: 896px;
  }

  .youtube-card {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    border-radius: 4px;
    flex: 1 1 240px;
    max-width: 280px;
    min-width: 240px;
  }

  .youtube-card__link {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s;
    filter: brightness(1);
    border-radius: 4px;
  }

  .youtube-card__link:hover {
    box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.08),
      0 2px 4px rgba(0, 0, 0, 0.07);
    filter: brightness(0.8);
  }

  html.dark .youtube-card__content {
    border-left: 1px solid #404040;
    border-bottom: 1px solid #404040;
    border-right: 1px solid #404040;
  }

  .youtube-card__content {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 4px;
    border-left: 1px solid #e4e4e5;
    border-bottom: 1px solid #e4e4e5;
    border-right: 1px solid #e4e4e5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  html.dark .youtube-card__inner-border {
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
  }

  .youtube-card__inner-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 2;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
  }

  .youtube-card__image {
    position: relative;
  }

  html.dark .youtube-card__image img {
  }

  .youtube-card__image img {
    position: relative;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .youtube-card__play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
  }

  html.dark .youtube-card__title {
    color: #ecedee;
  }

  .youtube-card__title {
    margin-top: 0;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
    color: rgb(17, 24, 28);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
  }

  html.dark .youtube-card__description {
    color: #9ba1a6;
  }

  .youtube-card__description {
    font-weight: 400;
    font-size: 14px;
    color: rgb(104, 112, 118);
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
  }

  @media screen and (max-width: 768px) {
    .youtube-cards__scroll {
      display: flex;
      margin-left: -16px;
      margin-right: -16px;
      overflow-x: auto;
    }

    .youtube-cards__wrap {
      margin: 0 16px;
      gap: 12px;
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;
    }

    .youtube-cards__scroll::-webkit-scrollbar {
      display: none;
    }

    .youtube-cards__scroll {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .youtube-card {
      max-width: 240px;
    }

    .youtube-card__title {
      font-size: 14px;
      margin-bottom: 0;
    }

    .youtube-card__description {
      font-size: 14px;
    }

    .youtube-card__content {
      padding: 8px 16px;
    }
  }
</style>
